.cred {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

div.cred-button {
  display: inline-block;
  margin: 0px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.cred-button:hover {
  cursor: pointer;
}

span #cred-decrease {
  color: white;
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #d9d9d9;
  background: rgb(170, 0, 0);
}

span #cred-increase {
  color: white;
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
  border: 1px solid #d9d9d9;
  background: rgb(15, 170, 0);
}

span #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#cred-number {
  position: relative;
  top: 3px;
  text-align: center;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 0px;
  width: 60px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}